<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="./font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="coursedetail.css">
    <script src="https://kit.fontawesome.com/5a854a2686.js" crossorigin="anonymous"></script>
    <style>
        *{
    scroll-behavior: smooth;
}

body {
    padding: 0px;
    margin: 0px;
}

/* content */

.content {
    background-color: #f3f3f3;
}
.wrap__content__heading {
    background-color:#1c1d1f;
}

.content__heading {
    max-width: 1000px;
    margin: 0px auto;
    color: white;
}

.content__heading_fix{
    width: 65%;
}

.content__heading h1 {
    font-size: 33px;
    margin-top: 0px;
    padding-top: 30px;
}

.content__heading p {
    font-size: 16px;
    line-height: 1.2;
}

.content__heading-info{
    font-size: 13px;
}
.content__heading-info p {
    display: inline-block;
    margin-right: 8px;
    font-size: 13px;
}

.content__heading-info p img {
    height: 30px;
    border-radius: 20px;
}

.rate {
    padding: 0px;
    display: inline-block;
}

.rate li {
    display: inline-block;
    color: white;  
}

.rate li .active{
    color: yellow;
}

.member_number{
    padding-left: 20px;
}

.content__heading .number_star{
    font-weight: 600;
    color: yellow;
    font-size: 20px;
}

.name_author{
    text-decoration: underline;
    color: lightseagreen;
}

.rating{
    text-decoration: underline;
}

/* video */

.video {
    max-width: 1000px;
    margin: 0px auto;
}

.video_fix {
    width: 75%;
    margin-top: 10px;
}

.video_fix > iframe {
    width: 100%;
}

/* Navbar */
.contain__tabs{
    max-width: 1000px;
    margin: 0px auto;
}

.tabs {
    width: 75%;
    display: flex;
    position: relative;
  }
  .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    border-radius: 15px;
    background-color: lightseagreen;   
    transition: all 0.2s ease;
  }

  .tab-item {
    min-width: 80px;
    padding: 5px 21.2px 6px 20px;
    font-size: 17.5px;
    text-align: center;
    color: black;
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: lightseagreen;
  }

  .tab-item.active {
    opacity: 1;
    color: black;
  }

  .contain__tabs .tabs a{
    text-decoration: none;
  }

  .contain__tabs .tabs a:hover{
    color: black;
  }

/* Teacher */
.name__teacher{
    margin-top: 10px;
    margin-bottom: 7px;
}

.name__teacher span{
    display: block;
    padding-left: 10px;
}

.name__teacher a:first-child{
    color: blue;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px;
    text-decoration: underline;
}

.name__teacher span{    
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding-left: 10px;

}

.infor__teacher{
    display: flex;
    width: 100%;
}

.infor__part1{
    flex: 1.3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infor__blank{
    flex: 1;
    width: 50%;
}

.avt__container{
    width: 70%;
    border-radius: 50%;
    flex: 1;
    margin-left: 10px;
    margin-right: 20px;
}

.avt__container img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.infor__container{
    flex: 2;
}

.infor__list{
    padding-left: 0;
    list-style: none;
}

.infor__list .infor__item{
    font-size: 13px;
    line-height: 1.8;
}

.infor__list i{
    font-size: 12px;
    margin-right: 12px;
}

.teacher__description{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 12px;
}

.content__learn .teacher__tab{
    background-color: #f1f1f2;
}





/* content__learn */

.content__learn {
    max-width: 1000px;
    margin: 0px auto;
}

.content__learn_fix{
    width: 75%;
    background-color: white;
}

.content__learn_fix  h3 {
    font-size: 18px;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.content__learn-list {
    display: flex;
    justify-content:space-between;
}

.content__learn-list > ul {
    padding: 0px;
    list-style: none;
}

.content__learn-list > ul > li {
    font-size: 16px;
    background: url(./img/tick.png) no-repeat 10px 13px;
    background-size: 15px;
    padding: 8px 17px 8px 25px;
}

.content__learn-list > ul > li > i{
    margin-right: 15px;
    font-size: 16px;
}
.content__learn-intro h4 {
    font-size: 16px;
    padding-left: 10px;
}

.content__learn-intro p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    padding: 8px 17px 8px 25px;
}

/* content__chapter */
.heading__chapters{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.heading__chapters .total__time{
    color: blue;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: stretch;
}


#sidebar {
    min-width: 350px;
    width: 100%;
    background: #b8b9b9;
    color: black;
    transition: all 0.3s;
    z-index: 1;
}


#sidebar ul li a {
    text-align: left;
    color: black;
    text-decoration: none;
}

#sidebar ul li a span{
    color: blue;
}

#sidebar ul.components {
    padding: 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
    color: black;
    justify-content: space-between;
}

#sidebar ul li a.canviewchapter {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
}

#sidebar ul li a:hover {
    opacity: 0.9;
}

#sidebar ul li a i {
    margin-right: 10px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar .dropdown-toggle{
    color: black;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

/* Content course */

.content__course {
    width: 22%;
    position: fixed;
    top: 60px;
    right: 100px;
    background-color: white;
    box-shadow:0 8px 8px 0 rgba(103, 151, 255, .11), 0 12px 18px 0 rgba(103, 151, 255, .11);
}

.content__course .courseimg__contain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 205px;
}

.background_img{
    display: block;
    width: 99%;
    height: 99%;
    background-image: url(./images/htmlcss.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content__course > strong {
    font-size: 14px;
}

.content__course > span {
    font-size: 10px;
    line-height: 36px;
    display: inline;
    margin: 0px;
}

.content__course .price{
    padding-left: 17px ;
    font-size: 23px;
    margin-right: 5px;
    color: red;
}

.symbol_price{
    text-decoration: underline;
}

.content__course > del {
    font-size: 17px;
}

.content__course > .giam {
    font-size: 15px;
    display: inline-block;
    margin: 0px;
    color: black;
}

.content__course button {
    border-radius: 4px;
    background: #212529;
    width: 90%;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.35s ease-in-out 0s;
}

.btn__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.content__course button:hover {
    background: transparent;
	color: #212529;
	text-decoration: none;
}

.content__course .buy {
    background-color: black;
}

.content__course .cart {
    margin-top: 10px;
    background-color: lightseagreen;
}

.cart i{
    margin-right: 5px;
}

.content__course > ul {
    list-style: none;
    padding: 0px;
    padding-left: 12px;
}

.content__course > ul > li {
    padding: 7px 5px;
    color: black;
}

.content__course > ul > li > i {
    margin-right: 20px;
}

.content__course .savetoLove{
    margin-left: 8px;
    margin-top: 3px;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.content__course .savetoLove i{
    margin-right: 5px;
    color: black;
}

.content__course .savetoLove:hover i {
    color: red;
}

.content__course .savetoLove:hover {
    color: red;
    border: 1px solid red;
}

/* Feedback */

.component-show-rate {
	border: 1px solid #f4f4f4;
}

.component-show-rate span{
    font-size: 1.5rem;
}
.component-show-rate .content-left,
.component-show-rate .content-center  {
	border-right: 1px solid #f4f4f4;
}

.component-show-rate .content-left > p:nth-child(1),  
.component-show-rate .content-right > p:nth-child(1){
	display: block;
}

.component-show-rate .content-left .avg-rate {
	font-size: 2rem; 
	color: red;
}

.component-show-rate .content-left .star-rate {
	font-size: 1.1rem; 
	color: #6D6B6A;
}

.component-show-rate .content-left .star-rate .checked {
	color: orange;
}

.component-show-rate .content-left .review {
	font-size: 0.8rem; 
	color: #848484;
}

.component-show-rate .content-center .star-percent {
	font-size: .8rem;
	width: 60%;
}

.component-show-rate .content-center .star-percent .progress {
	height: .5rem; 
	width: 70%;
}

.component-show-rate .content-center .star-percent .percent {
	color: #848484;
}

.component-show-rate .content-center .star-percent .progress .progress-bar-1 {
	width: 76%;
}

.component-show-rate .content-center .star-percent .progress .progress-bar-2 {
	width: 6%;
}

.component-show-rate .content-center .star-percent .progress .progress-bar-3 {
	width: 9%;
}

.component-show-rate .content-center .star-percent .progress .progress-bar-4 {
	width: 7%; 
	background-color: #c8c8c8;
}

.component-show-rate .content-center .star-percent .progress .progress-bar-5 {
	width: 2%; 
	background-color: #c8c8c8;
}

.component-show-rate .content-right > p {
	font-size: .8rem;
}

.component-show-rate .content-right > button {
	font-size: 1rem;
}

.collapse-show-rate .comment {
	border-left: 1px solid #f4f4f4; 
	border-right: 1px solid #f4f4f4; 
	border-bottom: 1px solid #f4f4f4;
}

.collapse-show-rate .comment .rate {
	height: auto;
	padding: 0 0.5rem;
}

.collapse-show-rate .comment .rate > input[type="radio"] {
	float: right;
	position: relative;
	-webkit-appearance: none;
	width: 1.4rem;
	height: 1.4rem;
	outline: none;
	margin-right: 0.2rem;
}

.collapse-show-rate .comment .rate > input[type="radio"]:before {
	content: '\f005';
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	left: 47%;
	font-size: 1.01rem;
	transform: translate(-50%, -50%);
	color: #c8c8c8;
	transition: 200ms;
}

.collapse-show-rate .comment .rate > input[type="radio"]:checked {
	background-color: #fff;
}

.collapse-show-rate .comment .rate > input[type="radio"]:checked:before {
	color: orange;
}

.collapse-show-rate .comment .rate > input[type="radio"]:checked ~ input[type="radio"]:before {
	color: orange;
}

.collapse-show-rate .comment > form textarea {
	resize: none;
	font-size: 0.9rem;
}

.collapse-show-rate .comment > form input {
	font-size: 0.9rem;
} 

.collapse-show-rate .comment > button {
	font-size: 1rem; 
	margin-left: 70%;
	width: 30%;
}

.btn-success {
	color: #fff;
	background-color:lightseagreen;
	border-color: lightseagreen;
}
  
.btn-success:hover {
    opacity: 0.8;
    background-color:lightseagreen;
    border-color: lightseagreen;
}

.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(141, 188, 0, 0.4) !important;
}

.btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.btn-outline-success {
    color: lightseagreen;
    border-color: lightseagreen;
}

.feedback__content{
    width: 80%;;
}

.feedback__wrapper{
    width: 100%;
    display: block;
}

.form-group{
    margin-top: 10px;
}

.bg-success{
    background-color: lightseagreen !important;
}

/* Comment */
.card-no-border .card-comment {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body-comment {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.1rem;
    padding-top: 0.5rem;
    padding-left: 0.4rem;
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}
.comment-text:hover{
    visibility: hidden;
}
.comment-text:hover{
    visibility: visible;
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.round img {
    border-radius: 50%;
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

.action-icons a:hover {
    color: red;
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}

.comment-text h5{
    font-size: 17px;
}

.comment-footer .trash:hover{
  color: blue;   
}

/* button go up */
.component-go-up {
    position: fixed;
    bottom: 3%;
    left: 2%;
    z-index: 4;
  }

.component-go-up .btn-go-up {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 0 0.2rem rgba(214, 250, 105, 0.4)
}

.component-go-up .btn-go-up .icon-go-up {
    position: absolute;
    animation: amimationGoup 2s infinite linear;
}

@keyframes amimationGoup {
    0% {
        bottom: -1rem;
    }
    100% {
        bottom: 100%;
    }
}
  
/* Relative courses */
.row-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.course__content{
    width: 80%;
}
.relative__courses{
    font-size: 12px !important;
    width: 100%;
}

.hiden-text {
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 5px;
}

.card-img-top {
    height: 150px;
}

.text-warning{
    font-size: 16px;
}

.card-title {
    margin-bottom: 2px;
    font-size: 16px;
}

.author-name {
    font-size: 14px;
    color: rgb(34, 34, 34);
    margin-bottom: 8px;
    margin-top: 5px;
    font-weight: 550;
}

.total-student {
    margin-bottom: 0 !important;
    font-weight: 500;
    margin-left: 10px;
}

.checked {
    color: orange;
}

.student-rating {
    display: flex;
    justify-content: space-between;
}

.contain-outstanding {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.contain-outstanding a{
    flex: 1;
}

.outstanding {
    margin: auto 0;
    padding-left: 2rem;
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.card-body {
    padding-top: 0.5rem;
}

.course-card{
    max-width: 33%;
    flex: 1;
}

.blankitem{
    flex: 1;
}

.btn{
    background-color: lightseagreen;
}

.btn:hover{
    background-color: lightseagreen;
    opacity: 0.8;
}

.card{
    border: 1px solid #a1a3a3;
    cursor: pointer;
}

.card:hover{
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid lightseagreen;
}
    </style>
</head>
<body>
    <div id="fb-root"></div>
    <div class="content">
        <div class="wrap__content__heading">
            <div class="content__heading">
                <div class="content__heading_fix">
                    <h1>Khóa học HTML/CSS cho mấy nhóc mấy nhú </h1>
                    <p>Học lập trình Frontend, học Javascript với HTML và JAVA Script.</p>
                    <div class="content__heading-info">
                        <p class="number_star">3,2</p>
                        <ul class="rate">
                            <li><i class="fa-solid fa-star active"></i></li>
                            <li><i class="fa-solid fa-star active"></i></li>
                            <li><i class="fa-solid fa-star active"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                         <a class="rating" href="">(123 Đánh giá)</a>
                        <p class="member_number"><i class="fa-solid fa-users"></i> 21 học viên</p>
                        <br>
                        <p>Được tạo bởi:</p>
                        <p class="name_author"><a href="" class="">Trần Anh Khôi</a></p>
                        <br>
                        <p><i class="fa-solid fa-wrench"></i>&nbsp; Lần cập nhật gần đây nhất: 11/12/2022</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video">
            <div class="video_fix">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/lj8TV9q59P4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="contain__tabs">
            <div class="tabs">
                <a href="#heading1" class="tab-item active">
                  Lợi ích
                </a>
                <a href="#heading2" class="tab-item">
                  Mô tả
                </a>
                <a href="#heading3" class="tab-item">
                  Giáo trình
                </a>
                <a href="#heading4" class="tab-item">
                  Giảng viên
                </a>
                <a href="#heading5"  class="tab-item">
                  Đánh giá
                </a>
                <a href="#heading6" class="tab-item">
                  Các khóa học liên quan
                </a>
                <div class="line"></div>
              </div>
        </div>
        <div id="heading1" class="content__learn">
            <div class="content__learn_fix">
                <h3>Lợi ích từ khóa học</h3>
                <div class="content__learn-list">
                    <ul>
                        <li><i class="fa-regular fa-circle-check"></i>Có thể tự làm được trang web cá nhân với đầy đủ hiệu ứng như các giao diện web hiện nay được bày bán, giao diện web ảnh, trang trình bày sản phẩm, tự thiết kế trang blog cho cá nhân, trang giới thiệu công ty, cửa hàng, dịch vụ với đầy đủ hiệu ứng theo ý mình, với đầy đủ tính năng phản hồi.</li>
                        <li><i class="fa-regular fa-circle-check"></i>Về lâu dài có thể ghép với Wordpress hoặc CMS khác để bán thành phẩm tại các trang web nổi tiếng như themeforest...</li>
                        <li><i class="fa-regular fa-circle-check"></i>Khoá học sẽ giúp học viên có kiến thức cơ bản về MVC trong php.</li>
                        <li><i class="fa-regular fa-circle-check"></i>Các tiện ích mà Zend Framework mang lại.</li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="heading2" class="content__learn">
            <div class="content__learn_fix">
                <h3>Giới thiệu khóa học</h3>
                <div class="content__learn-intro">
                    <p>Xin chào mọi người, sau một thời gian hoạt động trên kênh Youtube - Easy Frontend,
                        mình được mọi người yêu cầu làm một khoá học ReactJS đầy đủ để mọi người tham khảo đầy đủ, trọn vẹn về ReactJS, giúp các bạn tự tin hơn khi làm việc với ReactJS.
                        Với mong muốn góp một chút công sức vào việc phát triển cộng đồng Frontend Việt Nam, nên mình đã quyết tâm thực hiện khoá học này.
                        <br>
                        Hi vọng khoá học mang lại nhiều kiến thức hay, sát với thực tế để các bạn có thể vận dụng ngay vào trong dự án của mình.
                        <br>
                        Chúc các bạn có một trải nghiệm học thật vui và thú vị nhé!</p>
                </div>
            </div>
        </div>
        <div id="heading3" class="content__learn">
            <div class="content__learn_fix">
                <h3>Nội dung khóa học</h3>
                <div class="heading__chapters">
                    <div class="total__infor">
                        <span class="infor__item"><i class="fa-solid fa-list"></i> Tổng</span>
                        <span class="infor__item">3 chương</span>
                        <span class="infor__item">12 bài giảng</span>
                    </div>
                    <span class="total__time">
                        5 giờ 20 phút
                    </span>
                </div>
                <div class="wrapper">
                    <!-- Option course  -->
                    <nav id="sidebar">  
                        <ul class="list-unstyled components">
                            <li>
                                <a href="#StudSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                    Course Overview
                                </a>
                                <ul class="collapse list-unstyled" id="StudSubmenu">
                                    <li>
                                        <a href="#" class="canviewchapter">
                                            <div class="chapter-item">
                                                <i class="fa-solid fa-circle-play"></i>
                                                Nhập môn lập trình
                                            </div>
                                            <span>00:40</span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="chapter-item">
                                                <i class="fa-solid fa-circle-play"></i>
                                                Giới thiệu về HTML
                                            </div>
                                            <span>00:20</span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                Cài các extension cơ bản
                                            </div>
                                            <span>04:50</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#StudentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                    Python Setup
                                </a>
                                <ul class="collapse list-unstyled" id="StudentSubmenu">
                                    <li>
                                        <a><div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                Dạy solo yasuo
                                            </div>
                                            <span>05:40</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a><div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                Anh Khôi đẹp trai
                                            </div>
                                            <span>03:20</span> 
                                        </a>
                                    </li>
                                    <li>
                                        <a><div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                Vẫn là anh Khôi
                                            </div>
                                            <span>03:20</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#CourseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                   Python Statement
                                </a>
                                <ul class="collapse list-unstyled" id="CourseSubmenu">
                                    <li>
                                        <a><div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                Sử dụng Boostrap
                                            </div>
                                            <span>07:30</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a><div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                Hack Nasa
                                            </div>
                                            <span>06:45</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a><div class="chapter-item">
                                                <i class="fa-regular fa-file"></i>
                                                Làm quen với Responsive
                                            </div>
                                            <span>03:20</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                
            </div>
        </div>
        <div id="heading4" class="content__learn">
            <div class="content__learn_fix teacher__tab">
                <h3>Giảng Viên</h3>
                <div class="name__teacher">
                    <a href="">Tran Anh Khoi</a>
                    <span>HCM University of Science</span>
                </div>
                
                <div class="infor__teacher">
                    <div class="infor__part1">
                        <div class="avt__container">
                            <img src="./images/avtar.jpg" alt="">
                        </div>
                        <div class="infor__container">
                            <ul class="infor__list">
                                <li class="infor__item"><i class="fa-solid fa-star"></i>4,6 xếp hạng giảng viên</li>
                                <li class="infor__item"><i class="fa-solid fa-medal"></i>125.300 đánh giá</li>
                                <li class="infor__item"><i class="fa-solid fa-user-group"></i>255.602 học viên</li>
                                <li class="infor__item"><i class="fa-solid fa-circle-play"></i>50 khóa học</li>
                            </ul>
                        </div>
                    </div>
                    <div class="infor__blank"></div>
                </div>
                <p class="teacher__description">
                    Trần Anh Khôi (2002-3000) là một nhà văn Việt Nam. Cùng với Phạm Duy Tốn, ông được giới văn học đánh giá là một trong những cây bút đầu tiên viết truyện ngắn hiện đại bằng chữ quốc ngữ trong văn học Việt Nam. Theo Từ điển bách khoa Việt Nam, các tác phẩm của Nguyễn Bá Học lưu tâm nhiều về nền luân lý cũ đang dần dần tan rã trong buổi giao thời. Mở đầu truyện cũng như trong khi kể, thường xen những câu ngụ ý răn đời, giảng giải, luận bàn
                    . Nhân vật thường là "con nhà quan" hay "con nhà có gia thế", gặp cảnh nhà sa sút hoặc được nuông chiều, trở nên hư đốn, hoặc bị gia đình ruồng rẫy mà kiếm kế lập thân.
                </p>
                
            </div>
        </div>
        <div id="heading5" class="content__learn">
            <div class="content__learn_fix feedback__content">
                <h3>Đánh giá</h3>
                <div class="feedback__wrapper">
                    <div id="product-detail-collapse2" class="collapse show pt-3" aria-labelledby="product-detail-heading2" data-parent="#product-detail-accordion">
                        <div>
                          <div class="component-show-rate d-flex rounded-lg row ml-0 mr-0">
                            <div
                            class="content-left col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 p-3 d-flex flex-column justify-content-center align-items-center">
                            <p class="mb-0">Đánh giá trung bình</p>
                            <div class="avg-rate font-weight-bold">
                              <span>4</span>
                              <span>/5</span>
                            </div>
                            <div class="star-rate">
                              <i class="fa fa-star checked"></i>
                              <i class="fa fa-star checked"></i>
                              <i class="fa fa-star checked"></i>
                              <i class="fa fa-star checked"></i>
                              <i class="fa fa-star checked"></i>
                            </div>
                            <p class="review m-0 mt-2">(12 nhận xét)</p>
                          </div>
                        
                          <div class="content-center col-8 col-sm-8 col-md-6 col-lg-6 col-xl-6 p-3 d-flex flex-column justify-content-center align-items-center">
                          <div class="star-percent d-flex align-items-center">
                          <div class="mr-2">5 <i class="fas fa-star"></i></div>
                          <div class="progress mr-2">
                            <div class="progress-bar-1 progress-bar bg-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="percent">76%</div>
                        </div>
                        
                        <div class="star-percent d-flex align-items-center">
                        <div class="mr-2">4 <i class="fas fa-star"></i></div>
                        <div class="progress mr-2">
                          <div class="progress-bar-2 progress-bar bg-success" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="percent">6%</div>
                        </div>
                        
                        <div class="star-percent d-flex align-items-center">
                        <div class="mr-2">3 <i class="fas fa-star"></i></div>
                        <div class="progress mr-2">
                          <div class="progress-bar-3 progress-bar bg-success" role="progressbar" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="percent">9%</div>
                        </div>
                        
                        <div class="star-percent d-flex align-items-center">
                        <div class="mr-2">2 <i class="fas fa-star"></i></div>
                        <div class="progress mr-2">
                          <div class="progress-bar-4 progress-bar" role="progressbar" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="percent">7%</div>
                        </div>
                        
                        <div class="star-percent d-flex align-items-center">
                        <div class="mr-2">1 <i class="fas fa-star"></i></div>
                        <div class="progress mr-2">
                          <div class="progress-bar-5 progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="percent">2%</div>
                        </div>
                        </div>
                        
                        <div class="content-right col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-3 d-flex flex-column justify-content-center align-items-center">
                        <p class="mb-2">Chia sẻ nhận xét về khóa học</p>
                        
                        <button type="button" class="btn btn-success w-100" data-toggle="collapse" data-target="#product-detail-accordion-post-comment-collapse" aria-expanded="false" aria-controls="product-detail-accordion-post-comment-collapse">
                        Nhận xét
                        </button>
                        </div>
                        </div>
                        
                        <div class="collapse-show-rate collapse" id="product-detail-accordion-post-comment-collapse">
                          <div class="comment p-3 rounded-lg">
                            <h6 class="text-uppercase mb-3">gửi nhận xét của bạn</h6>
                        
                            <div class="d-flex align-items-center">
                              <p class="m-0 mr-2">1. Đánh giá của bạn về sản phẩm này:</p>
                              <div class="rate">
                                <input type="radio" id="product-detail-accordion-star1" name="rate" value="1" />
                                <label for="product-detail-accordion-star1" title="text"></label>
                                <input type="radio" id="product-detail-accordion-star2" name="rate" value="2" />
                                <label for="product-detail-accordion-star2" title="text"></label>
                                <input type="radio" id="product-detail-accordion-star3" name="rate" value="3" />
                                <label for="product-detail-accordion-star3" title="text"></label>
                                <input type="radio" id="product-detail-accordion-star4" name="rate" value="4" />
                                <label for="product-detail-accordion-star4" title="text"></label>
                                <input type="radio" id="product-detail-accordion-star5" name="rate" value="5" />
                                <label for="product-detail-accordion-star5" title="text"></label>
                              </div>
                            </div>
                        
                            <form>                       
                              <div class="form-group">
                                <label for="product-detail-accordion-collapse-show-rate-comment-content">2. Viết nhận xét của bạn vào bên dưới:</label>
                                <textarea
                                class="form-control"
                                id="product-detail-accordion-collapse-show-rate-comment-content"
                                rows="3"
                                placeholder="Nhận xét của bạn về sản phẩm này"></textarea>
                              </div>
                            </form>
                        
                            <button type="button" class="btn btn-success">Gửi nhận xét</button>
                        </div>
                        </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="content__learn">
            <div class="content__learn_fix feedback__content">
                <h3>Bình luận gần đây</h3>
                <div class="comment__wrapper">
                    <div class="card-comment">
                        <div class="card-body-comment">
                        <div class="comment-widgets m-b-20">

                            <div class="d-flex flex-row comment-row">
                                <div class="p-2 mr-2"><span class="round"><img src="./images/meome.jpg" alt="user" width="50" height="50"></span></div>
                                <div class="comment-text w-100">
                                    <h5>Lãng tử phong trần<nav></nav></h5>
                                    <div class="comment-footer">
                                        <span class="date">17/12/2022</span>
                                        <span class="action-icons">
                                                <a href="#" data-abc="true" class="trash"><i class="fa-solid fa-trash"></i></a>
                                                <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                        </span>
                                    </div>
                                    <p class="m-b-5 m-t-10">Không làm mà đòi có ăn thì có ăn dau buoi, an cut nhé</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row comment-row ">
                                <div class="p-2 mr-2"><span class="round"><img src="./images/avtar.jpg" alt="user" width="50" height="50"></span></div>
                                <div class="comment-text active w-100">
                                    <h5>Khôi đẹp trai</h5>
                                    <div class="comment-footer">
                                        <span class="date">16/12/2022</span>
                                        <span class="action-icons active">
                                                <a href="#" data-abc="true" class="trash"><i class="fa-solid fa-trash"></i></a>
                                                <a href="#" data-abc="true"><i class="fa fa-heart"></i></a>
                                        </span>
                                    </div>
                                    <p class="m-b-5 m-t-10">Học khóa học này xong tui cảm thấy mình thật siêu cấp vip pro thực sự từ bé tới giờ lần đầu tiên tui học cái khóa mà nó như cc vậy.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
       
        </div>
        <div id="heading6" class="content__learn">
            <div class="content__learn_fix course__content">
                <h3>Cùng được mua nhiều nhất</h3>
                <div class="relative__courses">
                    <div class="mt-4">
                        <div class="row-1">
                            <div class="col-sm-6 .col-md-3 col-lg-3 course-card">
                                <div class='card rounded-lg'>
                                    <img class='card-img-top rounded-lg'
                                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                                    <div class='card-body'>
                                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                                            cung cấp:
                                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                                            liệu, in ấn, đóng gói...)
                                        </p>
                                        <div class="student-rating">
                                            <div>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="total-student">21,779 students</p>
                                        </div>
                
                                        <p class="author-name">Huỳnh Tấn Vinh</p>
                                        <div class="contain-outstanding">
                                            <a href='#' class='btn btn-primary'>Đăng kí</a>
                                            <div>
                                                <p class="outstanding">275.000đ </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-sm-6 .col-md-3 col-lg-3 course-card">
                                <div class='card rounded-lg'>
                                    <img class='card-img-top rounded-lg'
                                        src='./images/anh-meo-cute.jpg' alt='Card image cap' />
                                    <div class='card-body'>
                                        <h5 class='card-title'>Bé màu cute siêu cấp pro đỉnh cao dẻ trời</h5>
                                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                                            cung cấp:
                                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                                            liệu, in ấn, đóng gói...)
                                        </p>
                                        <div class="student-rating">
                                            <div>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="total-student">3.723 students</p>
                                        </div>
                
                                        <p class="author-name">Trần Duy Khương</p>
                                        <div class="contain-outstanding">
                                            <a href='#' class='btn btn-primary'>Đăng kí</a>
                                            <div>
                                                <p class="outstanding">765.000đ</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-sm-6 .col-md-3 col-lg-3 course-card">
                                <div class='card rounded-lg'>
                                    <img class='card-img-top rounded-lg'
                                        src='./images/chocute.jpg' alt='Card image cap' />
                                    <div class='card-body'>
                                        <h5 class='card-title'>Chó Husky đẹp trai lãng tử nâng cao</h5>
                                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                                            cung cấp:
                                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                                            liệu, in ấn, đóng gói...)
                                        </p>
                                        <div class="student-rating">
                                            <div>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="total-student">7,779 students</p>
                                        </div>
                
                                        <p class="author-name">Nguyễn Tấn Lộc</p>
                                        <div class="contain-outstanding">
                                            <a href='#' class='btn btn-primary'>Đăng kí</a>
                                            <div>
                                                <p class="outstanding">145.000đ </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-1">
                            <div class="col-sm-6 .col-md-3 col-lg-3 course-card">
                                <div class='card rounded-lg'>
                                    <img class='card-img-top rounded-lg'
                                        src='./images/flo.jpg' alt='Card image cap' />
                                    <div class='card-body'>
                                        <h5 class='card-title'>Dạy múa Flo 6 bông lụm 5 bông</h5>
                                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                                            cung cấp cho các bạn kĩ năng múa flo như Tú có ny
                                        </p>
                                        <div class="student-rating">
                                            <div>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="total-student">21,779 students</p>
                                        </div>
                
                                        <p class="author-name">Trần Anh Khôi</p>
                                        <div class="contain-outstanding">
                                            <a href='#' class='btn btn-primary'>Đăng kí</a>
                                            <div>
                                                <p class="outstanding">275.000đ </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-sm-6 .col-md-3 col-lg-3 course-card">
                                <div class='card rounded-lg'>
                                    <img class='card-img-top rounded-lg'
                                        src='./images/gaixinh.jpg' alt='Card image cap' />
                                    <div class='card-body'>
                                        <h5 class='card-title'>Nhập môn tán gái tán một lần chục con</h5>
                                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                                            cung cấp:
                                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                                            liệu, in ấn, đóng gói...)
                                        </p>
                                        <div class="student-rating">
                                            <div>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star checked"></span>
                                                <span class="fa fa-star"></span>
                                                <span class="fa fa-star"></span>
                                            </div>
                                            <p class="total-student">3.723 students</p>
                                        </div>
                
                                        <p class="author-name">Trần Bảo Long</p>
                                        <div class="contain-outstanding">
                                            <a href='#' class='btn btn-primary'>Đăng kí</a>
                                            <div>
                                                <p class="outstanding">765.000đ</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blankitem"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__course">
            <div class="courseimg__contain">
                <div class="background_img"></div>
            </div>
            <strong class="price">399,000 <span class="symbol_price">đ</span></strong>
            <del>600,000đ</del>
            <p class="giam">(50% OFF)</p>
            <div class="btn__container">
                <button class="buy">Mua ngay</button>
                <button class="cart"><i class="fa-solid fa-cart-shopping"></i>Thêm vào giỏ hàng </button>
        </div>
            <ul>
                <li><strong>Khóa học này bao gồm</strong></li>
                <li><i class="fa-solid fa-clock"></i>Thời lượng: <strong>02 giờ 00 phút</strong></li>
                <li><i class="fa-solid fa-display"></i>30 bài giảng</li>
                <li><i class="fa-solid fa-infinity"></i>Sở hữu khóa học trọn đời</li>
                <li><i class="fa-solid fa-trophy"></i>Cấp chứng nhận hoàn thành</li>
                <li><button class="savetoLove"><i class="fa-solid fa-heart"></i>Lưu vào yêu thích</button></li>
            </ul>
        </div>

        <div class="component-go-up">
            <button type="button" id="btn-go-up" class="btn btn-success btn-go-up" onclick="topFunction()">
              <i class="fas fa-arrow-up fa-2x icon-go-up"></i>
            </button>
        </div>

    </div>
    <script>
        const $ = document.querySelector.bind(document);
        const $$ = document.querySelectorAll.bind(document);
    
        const tabs = $$(".tab-item");
    
        const tabActive = $(".tab-item.active");
        const line = $(".tabs .line");
    
        requestIdleCallback(function () {
        line.style.left = tabActive.offsetLeft + "px";
        line.style.width = tabActive.offsetWidth + "px";
        });
    
        tabs.forEach((tab, index) => {
    
        tab.onclick = function () {
            $(".tab-item.active").classList.remove("active");
    
            line.style.left = this.offsetLeft + "px";
            line.style.width = this.offsetWidth + "px";
    
            this.classList.add("active");
        };
        });

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("btn-go-up").style.display = "flex";
            } else {
                document.getElementById("btn-go-up").style.display = "none";
            }
        };

        function topFunction() {
            window.scrollTo(0,0);
        }

    </script>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>