<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Favourite</title>

    <style>
        * {
            font-size: 14px;
        }

        .hiden-text {
            height: 40px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            margin-bottom: 10px;
        }

        .card-img-top {
            height: 150px;
        }

        .card-title {
            margin-bottom: 2px;
        }

        .author-name {
            font-size: 14px;
            color: rgb(34, 34, 34);
            margin-bottom: 3px;
        }

        .total-student {
            margin-bottom: 0 !important;
            font-weight: 500;
            margin-left: 10px;
        }

        .checked {
            color: orange;
        }

        .student-rating {
            display: flex;
        }

        .contain-outstanding {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            text-align: center;
        }

        .outstanding {
            margin: auto 0;
            padding-left: 2rem;
        }

        .card-body {
            padding-top: 0.5rem;
        }
    </style>
</head>

<body>

    <div class="mt-4">
        <h3>Đã thích</h3>
        <div class="row">
            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
