@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
body {
  background-color: #1b2431;
  color: #202020;
  font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
  font-size: 13px;
}

a:hover {
  text-decoration: none;
}

.container-fluid{
    position: absolute;
    padding-left: 16%;
    top: 0;
}

.title__biggest{
    color: white;
    font-weight: 600;
    font-size: 27px;
    margin-top: 15px;
    margin-bottom: 10px;
}

p,
figure {
  margin: 0;
  padding: 0;
}

.card-list {
  width: 100%;
}
.card-list:before, .card-list:after {
  content: " ";
  display: table;
}
.card-list:after {
  clear: both;
}

.contain__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.contain__title i{
    font-size: 30px;
}

.card {
  border-radius: 8px;
  color: white;
  padding: 10px;
  position: relative;
}

.card:hover{
    opacity: 0.95;
}

.card .zmdi {
  color: white;
  font-size: 28px;
  opacity: 0.3;
  position: absolute;
  right: 13px;
  top: 13px;
}
.card .stat {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 8px;
  margin-top: 25px;
  padding: 10px 10px 0;
  text-transform: uppercase;
}
.card .title {
  display: inline-block;
  font-size: 15px;
  padding: 0;
  font-weight: 600;
  margin-bottom: 5px;
}
.card .value {
  font-size: 18px;
  padding: 0;
}

.card.card-1 {
  background-color: #4B93FE;
}
.card.card-2 {
  background-color: #6672E4;
}
.card.card-3 {
  background-color: #DA4848;
}
.card.card-4 {
  background-color: #DADC57;
}
.card.card-5 {
  background-color: #7ADE57;
}
.card.card-6 {
  background-color: #FD7C4B;
}

.projects {
  background-color: #273142;
  border: 1px solid #313D4F;
  overflow-x: auto;
  width: 100%;
}
.projects-inner {
  border-radius: 4px;
}

.projects-header {
  color: white;
  padding: 22px;
  padding-bottom: 15px;
}
.projects-header .count,
.projects-header .title {
  display: inline-block;
}
.projects-header .count {
  color: #738297;
}
.projects-header .zmdi {
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 5px 0;
}
.projects-header .title {
  font-size: 21px;
}
.projects-header .title + .count {
  margin-left: 5px;
}

.projects-table {
  background: #273142;
  width: 100%;
}
.projects-table td,
.projects-table th {
  color: white;
  padding: 10px 22px;
  vertical-align: middle;
}
.projects-table td p {
  font-size: 12px;
}

.projects-table .member p:last-of-type {
  color: #738297;
  font-size: 11px;
}

.projects-table th {
  background-color: #313D4F;
}

.projects-table tr:not(:last-of-type) {
  border-bottom: 1px solid #313D4F;
}
.projects-table .member figure,
.projects-table .member .member-info {
  display: inline-block;
  vertical-align: top;
}
.projects-table .member figure + .member-info {
  margin-left: 7px;
}
.projects-table .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.btn__contain{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn_action{
    padding: 5px 10px;
    border-radius: 5px;
}

.btn_action:hover{
    opacity: 0.9;
}

.button__accept .btn_action{
    background-color: #7ADE57;
    font-weight: 600;
    margin-right: 3px;
}

.button__deny .btn_action{
    background-color: red;
    color: white;
    font-weight: 600;
    margin-left: 3px;
}

.card--sub {
  background: #1a2049;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 430px;
  width: 100%;
}

.discount {
  max-width: 320px;
  width: 102%;
}

.discount .title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
}
.discount .subtitle {
  color: white;
  margin-bottom: 8px;
}
.card--sub .subtitle-count {
  font-size: 17px;
  color: #17a98a;
  font-weight: 500;
}
.discount .subtitle-count + .subtitle {
  margin-top: 20px;
}
.discount .subtitle-count.dist {
  color: #e85471;
}
.discount-wrapper {
  display: flex;
}
.discount-chart {
  margin-left: auto;
}

.circle {
  width: 100px;
  height: 100px;
  border: 3px solid #5b5f78;
  border-radius: 50%;
  position: relative;
}

.pie {
  position: relative;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.pie svg circle {
  fill: transparent;
  stroke: #4356d6;
  stroke-width: 14;
  stroke-dasharray: 314;
  stroke-dashoffset: 235;
  -webkit-animation: pieChart 3.8s linear forwards;
          animation: pieChart 3.8s linear forwards;
}

@-webkit-keyframes pieChart {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes pieChart {
  100% {
    stroke-dashoffset: 0;
  }
}
    
.counter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #3e50c5;
  font-weight: 500;
}

.offer-button {
  background: #4255d4;
  padding: 14px;
  text-align: center;
  justify-content: center;
  margin-top: auto;
  margin-right: 0;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  border-radius: 4px;
}

.offer-button:hover{
    opacity: 0.9;
}
