* {
    font-size: 14px;
}

.hiden-text {
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
}

.card-img-top {
    height: 150px;
}

.card-title {
    margin-bottom: 2px;
}

.author-name {
    font-size: 14px;
    color: rgb(34, 34, 34);
    margin-bottom: 3px;
}

.total-student {
    margin-bottom: 0 !important;
    font-weight: 500;
    margin-left: 10px;
}

.checked {
    color: orange;
}

.student-rating {
    display: flex;
}

.contain-outstanding {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.outstanding {
    margin: auto 0;
    padding-left: 2rem;
}

.card-body {
    padding-top: 0.5rem;
}