<head>
    <link rel="stylesheet" href="/css/favorite.css" type="text/css">
</head>

<body>
    <div class="mt-4 mx-5">
        <h3>Đã thích</h3>
        <div class="row mx-5">
            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 .col-md-5 col-lg-3">
                <div class='card rounded-lg'>
                    <img class='card-img-top rounded-lg'
                        src='https://static.skillshare.com/uploads/discussion/tmp/b8ba300b.png' alt='Card image cap' />
                    <div class='card-body'>
                        <h6 class="text-warning">LẬP TRÌNH MOBILE</h6>
                        <h5 class='card-title'>Lập trình C# trong 5 tuần - Nâng cao</h5>
                        <p class='card-text hiden-text'>Với lộ trình 65 bài học được chia thành 8 chương, khóa học sẽ
                            cung cấp:
                            - Kiến thức chuyên sâu về ngôn ngữ lập trình C# (MDI, control nâng cao, tương tác cơ sở dữ
                            liệu, in ấn, đóng gói...)
                        </p>
                        <div class="student-rating">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <p class="total-student">721,779 students</p>
                        </div>

                        <p class="author-name">Huỳnh Tấn Vinh</p>
                        <div class="contain-outstanding">
                            <a href='#' class='btn btn-primary'>Đăng kí khóa học</a>
                            <div>
                                <p class="outstanding">Nổi bật </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
