<style>
  .btn-lg:hover {
    opacity: 0.8;
  }
</style>


<div>
  <h2 class="mb-5">Khóa học của tôi</h2>
  <nav class="navbar navbar-light bg-white p-0">
    <form class="form-inline">
      <input class="form-control border-dark rounded-0 py-4" style="min-width: 220px;" type="search" placeholder="Tìm kiếm khóa học của bạn"
        aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0 border-dark rounded-0 border-left-0" type="submit"
        style="height: 44px; width: 44px;">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    <a type="button" href="/teacher/addCourse/1" class="btn pull-right btn-lg rounded-0" style="background-color: lightseagreen; color: #fff;">
      <strong>Thêm khóa học</strong>
    </a>
  </nav>


  <p class="mt-5 text-center" style="font-size: 16px;">Dựa trên kinh nghiệm của bạn, chúng tôi nghĩ rằng các tài nguyên này sẽ hữu ích.</p>

  <div class="row mt-5">
    <div class="col">
      <div class="mb-4 py-3 px-5 shadow" style="display: flex; border: 1px solid #ccc; align-items: center;">
        <div style="width: 40%;">
          <img style="display: block; margin: auto;" width="240px" height="240px"
            src="https://s.udemycdn.com/instructor/dashboard/engaging-course.jpg" alt="">
        </div>
        <div style="margin: 0 40px 0 60px; width: 60%;">
          <h3 class="mb-4">Tạo một khóa học hấp dẫn</h3>
          <p>Cho dù bạn đã giảng dạy trong nhiều năm hay đang giảng dạy lần đầu tiên, bạn có thể thực hiện một khóa học
            hấp dẫn. Chúng tôi đã tổng hợp các tài nguyên và thực tiễn tốt nhất để giúp bạn đạt đến cấp độ tiếp theo,
            bất kể bạn bắt đầu từ đâu.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mb-4 py-3 px-5 shadow" style="display: flex; border: 1px solid #ccc; align-items: center;">
        <div style="width: 40%;">
          <img style="display: block; margin: auto;" width="180px" height="180px"
            src="https://s.udemycdn.com/instructor/dashboard/video-creation.jpg" alt="">
        </div>
        <div style="margin: 0 40px 0 60px; width: 60%;">
          <h3 class="mb-4">Bắt đầu với video</h3>
          <p>Các bài giảng video chất lượng có thể đặt khóa học của bạn. Sử dụng tài nguyên của chúng tôi để tìm hiểu
            những điều cơ bản.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="mb-4 py-3 px-5 shadow" style="display: flex; border: 1px solid #ccc; align-items: center;">
        <div style="width: 40%;">
          <img style="display: block; margin: auto;" width="180px" height="180px"
            src="https://s.udemycdn.com/instructor/dashboard/build-audience.jpg" alt="">
        </div>
        <div style="margin: 0 40px 0 60px; width: 60%;">
          <h3 class="mb-4">Xây dựng khán giả của bạn</h3>
          <p>Thiết lập khóa học của bạn để thành công bằng cách xây dựng khán giả của bạn.</p>
        </div>
      </div>
    </div>
  </div>
</div>