<link rel="stylesheet" href="/css/header.css" type="text/css">
  <body>
    <header>
      <div class="header-container">
        <div class="header-left">
          <ul>
            <li class="header-left__item">
              <div class="header-logo__container">
                <img src="./images/LogoApp.png" alt="" class="logo-img" />
              </div>
            </li>
            <li class="header-left__item">
              <i class="fa-solid fa-bars icon__item icon__category"></i>
              <a href="" class="header-left__item--link">
                <h3>Danh mục</h3>
              </a>
              <i class="fa-solid fa-caret-down icon__item icon__category"></i>

              <div class="category__option">
                <div class="category__option-option--level1">
                  <span>IT</span>
                  <i class="fa-solid fa-caret-right icon_lv1"></i>
                  <!-- Level 2 Option -->
                  <div class="category__option-option--level2">
                    <ul>
                      <li class="option__level2-item">
                        <span>Lập trình Web</span>
                        <i class="fa-solid fa-caret-right icon_lv2"></i>

                        <!-- Level 3 Option -1 -->
                        <div class="category__option-option--level3">
                          <ul>
                            <li class="option__level3-item">
                              <h4>Popular topics</h4>
                            </li>
                            <li class="option__level3-item">
                              <a href="" class="option-link"> ReactJS </a>
                            </li>
                            <li class="option__level3-item">
                              <a href="" class="option-link"> HTML/CSS </a>
                            </li>
                            <li class="option__level3-item">
                              <a href="" class="option-link"> NodeJS </a>
                            </li>
                          </ul>
                        </div>
                      </li>

                      <li class="option__level2-item">
                        <span>Lập trình ứng di động</span>
                        <i class="fa-solid fa-caret-right icon_lv2"></i>
                        <!-- Level 3 Option -2 -->
                        <div class="category__option-option--level31">
                          <ul>
                            <li class="option__level3-item">
                              <h4>Popular topics</h4>
                            </li>
                            <li class="option__level3-item">
                              <a href="" class="option-link"> Android </a>
                            </li>
                            <li class="option__level3-item">
                              <a href="" class="option-link"> IOS </a>
                            </li>
                            <li class="option__level3-item">
                              <a href="" class="option-link"> React Native </a>
                            </li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="header-left__item">
              <div class="search-blank">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Tìm kiếm khóa học" />
              </div>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <ul>
            <li class="header-right__item">
              <div class="my-courses">
                <i class="fa-solid fa-play"></i>
                <h3>Khóa học của tôi</h3>
              </div>
            </li>
            <li class="header-right__item">
              <a href="" class="header-right__link">
                <i class="fa-solid fa-cart-shopping icon__right"></i>
              </a>
            </li>
            <li class="header-right__item">
              <div class="header-right__avatar header-right__user">
                <img src="./images/meome.jpg" alt="" class="avatar" />

                <div class="list__option">
                  <div class="list__option-heading">
                    <div class="heading__logo">
                      <img src="./images/meome.jpg" alt="" />
                    </div>
                    <div class="heading__text">
                      <h3>AndyKoi</h3>
                    </div>
                  </div>
                  <div class="blank"></div>
                  <div class="list__option-choice">
                    <ul>
                      <li class="list__option-item">
                        <a href="" class="list__option-link">
                          <i class="fa-solid fa-user tmp-icon"></i>
                          <span>Thông tin cá nhân</span>
                        </a>
                      </li>
                      <li class="list__option-item">
                        <a href="" class="list__option-link">
                          <i class="fa-solid fa-heart tmp-icon"></i>
                          <span>Danh sách yêu thích</span>
                        </a>
                      </li>
                      <li class="list__option-item">
                        <a href="" class="list__option-link">
                          <i class="fa-solid fa-person-chalkboard tmp-icon"></i>
                          <span>Trở thành giảng viên</span>
                        </a>
                      </li>
                      <li class="list__option-item">
                        <a href="" class="list__option-link">
                          <i
                            class="fa-solid fa-right-from-bracket tmp-icon"
                          ></i>
                          <span>Đăng xuất</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- <div class="header-right header-right--unlogin">
            <ul>
                <li class="header-right__item-new">
                    <div class="my-courses-new">
                        <i class="fa-solid fa-play"></i>
                        <h3>Khóa học của tôi</h3>
                    </div>
                </li>
                <li class="header-right__item-new">
                    <a href="" class="header-right__link">
                        <i class="fa-solid fa-cart-shopping icon__right"></i>
                    </a>
                </li>
                <li class="header-right__item-new">
                    <button class="btn_logIn">Đăng Nhập</button>
                    <button class="btn_Register">Đăng kí</button>
                </li>
            </ul>
        </div> -->
      </div>
    </header>