<head>
    <link rel="stylesheet" href="/css/adCategorySideBar.css" type="text/css">
</head>

<body>
    <div>
        <!-- Bootstrap row -->
        <div class="row" id="body-row">
            <!-- Sidebar -->
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
                <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
                <!-- Bootstrap List Group -->
                <ul class="list-group">
                    <!-- Separator with title -->
                    <li
                        class="list-group-item sidebar-separator-title ml-2 text-muted d-flex align-items-center menu-collapsed">
                        <small>MAIN MENU</small>
                    </li>
                    <!-- /END Separator -->
                    <!-- Menu with submenu -->
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="menu-collapsed ml-2 text-uppercase">LẬP TRÌNH WEB</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>

                    <a href="/adCategorySideBar/editCategory"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="menu-collapsed ml-2 text-uppercase">Edit</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu1' class="collapse sidebar-submenu">
                        <a href="#nodejs" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">NODEJS</span>
                        </a>
                        <a href="#reactjs" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">REACTJS</span>
                        </a>
                        <a href="#angular" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">ANGULAR</span>
                        </a>
                    </div>
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            {{!-- <span class="fa fa-fw mr-3"></span> --}}
                            <span class="menu-collapsed text-uppercase ml-2">LẬP TRÌNH MOBILE</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu2' class="collapse sidebar-submenu">
                        <a href="#" data-toggle="tab" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">KOTLIN</span>
                        </a>
                        <a href="#" data-toggle="tab" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">SWIFT</span>
                        </a>
                    </div>

                    <!-- Separator without title -->
                    <li class="list-group-item sidebar-separator menu-collapsed"></li>
                    <!-- /END Separator -->


                    <!-- Logo -->
                    <li class="list-group-item logo-separator d-flex justify-content-center">
                        <img src='https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg' width="30"
                            height="30" />
                    </li>

                    
                </ul><!-- List Group END-->
                
            </div><!-- sidebar-container END -->
            
            <!-- MAIN Content -->
            <div class="col">
                <div class="mt-2 ml-5 d-flex">
                    <a href="/adCategorySideBar"
                        class="text-decoration-none font-weight-bold ml-4 text-primary">Category</a>
                </div>
                <div class="w-100 d-flex justify-content-end pr-5">
                    <div class="mr-2">
                        <a href="/adCategorySideBar"><button
                                class="text-decoration-none mr-5 btn-add-aspect-hover btn-add-aspect w-100 text-uppercase">Refresh</button></a>
                    </div>
                    <div class="mr-2">
                        <a href="#"><button
                                class="text-decoration-none mr-5 btn-add-aspect-hover btn-add-aspect w-100 text-uppercase">Add
                                new aspect</button></a>
                    </div>

                </div>

                <div class="mt-4 mx-3 mb-4">
                    <div class="row mx-5">
                        <div class="col-sm-12 .col-md-3 col-lg-4 mt-4">
                            <a href="/adCategorySideBar/adCategoryMobile" class="text-decoration-none">
                                <!-- Card Dark -->
                                <div class="card view-card-zoom">
                                    <!-- Card image -->
                                    <div class="view overlay">
                                        <img class="card-img-top img-fluid"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.webp"
                                            alt="Card image cap">
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body bg-dark text-light rounded-bottom">
                                        <!-- Title -->
                                        <h4 class="card-title text-uppercase">Lập trình Mobile</h4>
                                        <p>Số lượng danh mục: 2</p>
                                        <hr class="hr-light">
                                        <!-- Text -->

                                        <p class="card-text white-text mb-4 hiden-text">Các khóa học trong lập trình
                                            mobile luôn đảm bảo chất lượng luôn theo thị hướng của thị trường. Sử dụng
                                            ngôn ngữ lập trình (Kotlin, Swift,
                                            v.v.).</p>
                                    </div>
                                </div>
                                <!-- Card Dark -->
                            </a>
                        </div>

                        <div class="col-sm-12 .col-md-3 col-lg-4 mt-4">
                            <a href="/adCategorySideBar/adCategoryWeb" class="text-decoration-none">
                                <!-- Card Dark -->
                                <div class="card view-card-zoom">
                                    <!-- Card image -->
                                    <div class="view overlay">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.webp"
                                            alt="Card image cap">
                                    </div>

                                    <!-- Card content -->
                                    <div class="card-body bg-dark text-light rounded-bottom">
                                        <!-- Title -->
                                        <h4 class="card-title text-uppercase">Lập trình website</h4>
                                        <p>Số lượng danh mục: 3</p>
                                        <hr class="hr-light">
                                        <!-- Text -->
                                        <p class="card-text white-text mb-4 hiden-text">Chất lượng của các khóa học lập
                                            trình website
                                            luôn đảm bảo được tính chuyên nghiệp và được cập nhật thường xuyên. Đảm bảo
                                            đầu
                                            ra đủ khả năng để làm việc ở các công ty.</p>
                                    </div>
                                </div>
                                <!-- Card Dark -->
                            </a>

                        </div>





                    </div>
                </div>
            </div><!-- Main Col END -->

        </div><!-- body-row END -->
    </div>

</body>