<head>
    <link rel="stylesheet" href="/css/adCategorySideBar.css" type="text/css">
</head>

<body>
    <div>
        <!-- Bootstrap row -->
        <div class="row" id="body-row">
            <!-- Sidebar -->
            <div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
                <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
                <!-- Bootstrap List Group -->
                <ul class="list-group">
                    <!-- Separator with title -->
                    <li
                        class="list-group-item sidebar-separator-title ml-2 text-muted d-flex align-items-center menu-collapsed">
                        <small>MAIN MENU</small>
                    </li>
                    <!-- /END Separator -->
                    <!-- Menu with submenu -->
                    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="menu-collapsed ml-2 text-uppercase">LẬP TRÌNH WEB</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu1' class="collapse sidebar-submenu">
                        <a href="#nodejs" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">NODEJS</span>
                        </a>
                        <a href="#reactjs" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">REACTJS</span>
                        </a>
                        <a href="#angular" data-toggle="tab"
                            class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">ANGULAR</span>
                        </a>
                    </div>
                    <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
                        class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            {{!-- <span class="fa fa-fw mr-3"></span> --}}
                            <span class="menu-collapsed text-uppercase ml-2">LẬP TRÌNH MOBILE</span>
                            <span class="submenu-icon ml-auto"></span>
                        </div>
                    </a>
                    <!-- Submenu content -->
                    <div id='submenu2' class="collapse sidebar-submenu">
                        <a href="#" data-toggle="tab" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">KOTLIN</span>
                        </a>
                        <a href="#" data-toggle="tab" class="list-group-item list-group-item-action bg-dark text-white">
                            <span class="menu-collapsed text-uppercase ml-2">SWIFT</span>
                        </a>
                    </div>

                    <!-- Separator without title -->
                    <li class="list-group-item sidebar-separator menu-collapsed"></li>
                    <!-- /END Separator -->


                    <!-- Logo -->
                    <li class="list-group-item logo-separator d-flex justify-content-center">
                        <img src='https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg' width="30"
                            height="30" />
                    </li>
                </ul><!-- List Group END-->
            </div><!-- sidebar-container END -->


            <!-- MAIN Content -->
            <div class="col">
                <div class="mt-2 ml-5 d-flex">
                    <a href="/adCategorySideBar"
                        class="text-decoration-none font-weight-bold ml-4 text-primary">Category</a>
                    <a href="#" class="text-decoration-none font-weight-bold text-dark">><a
                            href="/adCategorySideBar/adCategoryMobile"
                            class="text-decoration-none font-weight-bold text-primary">Field</a></a>
                    <a href="#" class="text-decoration-none font-weight-bold text-dark">><a
                            href="/adCategorySideBar/detail"
                            class="text-decoration-none font-weight-bold text-primary">AllCourses</a></a>
                </div>

                <section class="dark-bg-card mt-4 rounded">
                    <article class="postcard dark-bg-card blue mx-2">
                        <a class="postcard__img_link" href="#">
                            <img class="postcard__img rounded-left" src="https://picsum.photos/1000/1000"
                                alt="Image Title" />
                        </a>
                        <div class="postcard__text">
                            <h1 class="postcard__title blue text-uppercase"><a href="#">swift</a></h1>
                            <div class="postcard__subtitle small">
                                <time datetime="2022-05-25 12:00:00">
                                    <i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2022
                                </time>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">Swift là ngôn ngữ lập trình tốt và
                                phổ biến nhất hiện nay được phát triển bởi Apple Inc với mục đích hỗ trợ lập
                                trình viên trong việc phát triển các ứng dụng chạy trên các hệ điều hành iOS,
                                macOS, watchOS, tvOS, Linux, và z/OS.</div>

                        </div>
                    </article>
                </section>

                <div class="col-sm-12 .col-md-3 col-lg-4 my-4">
                    <a href="/adCategorySideBar/adCategoryWeb" class="text-decoration-none">
                        <!-- Card Dark -->
                        <div class="card view-card-zoom">
                            <!-- Card image -->
                            <div class="view overlay">
                                <img class="card-img-top"
                                    src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.webp"
                                    alt="Card image cap">
                            </div>

                            <!-- Card content -->
                            <div class="card-body bg-dark text-light rounded-bottom">
                                <!-- Title -->
                                <h4 class="card-title text-uppercase">SWIFT từ cơ bản đến nâng cao</h4>
                                <p>Giá: 2.000.000đ</p>
                                <div class="student-rating d-flex ">
                                    <div>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <p class="total-student ml-3">721,779 students</p>
                                </div>
                                <p class="author-name">Huỳnh Tấn Vinh</p>
                                <hr class="hr-light">
                                <!-- Text -->
                                <p class="card-text white-text mb-4 hiden-text">Khóa học SWIFT từ cơ bản tới nâng
                                    cao, kết quả của khóa học này là bạn có thể làm hầu hết các dự án thường gặp với
                                    SWIFT. Cuối khóa học này bạn sẽ sở hữu một dự án giống Tiktok.com, bạn có thể
                                    tự tin đi xin việc khi nắm chắc các kiến thức được chia sẻ trong khóa học này.
                                </p>
                            </div>
                        </div>
                        <!-- Card Dark -->
                    </a>
                </div>
            </div><!-- Main Col END -->

        </div><!-- body-row END -->
    </div>

</body>